h1 {
    color: brown;
}


.header{

    background-color : rgb(0, 119, 255);
    display:flex;
    justify-content: space-between;
}
.trexme{
    display :flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display : flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
